<h1><%= title %></h1>
<%- messages() %>

<form method="post" action="/account/login" class="wf1" id="loginForm">
  <fieldset>
    <label for="email"
      >Email<input
        type="email"
        name="account_email"
        id="email"
        placeholder="example@example.com"
        required
    /></label>
    <label for="accountPassword">Password:</label>
    <span
      >Passwords must be at least 12 characters and contain at least 1 number, 1
      capital letter and 1 special character</span
    >
    <input
      type="password"
      name="account_password"
      id="accountPassword"
      required
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
    />
    <label for="submit"
      ><input type="submit" id="submit" value="Login"
    /></label>
  </fieldset>
</form>

<p>No account? <a href="/account/signup">Sign-up</a></p>
