<h1>Welcome To CSE Motors!</h1>
<section class="hero">
  <img src="images/vehicles/delorean.jpg" alt="delorean" />
  <div class="ownToday">
    <h2>DMC Delorean</h2>
    <p>3 CupHolders</p>
    <p>Superman Doors</p>
    <p>Fuzzy Dice!</p>
    <img src="images/site/own_today.png" alt="Own Today" />
  </div>
</section>

<div class="lowerLayer">
  <section class="leftSide">
    <h3>Delorean Upgrades</h3>
    <div id="topL">
      <img src="images/upgrades/flux-cap.png" alt="flux capacitor" />
      <a href="">Flux Capacitor</a>
    </div>
    <div id="topR">
      <img src="images/upgrades/flame.jpg" alt="flame decal" />
      <a href="">Flame Decals</a>
    </div>
    <div id="botL">
      <img src="images/upgrades/bumper_sticker.jpg" alt="bumper sticker" />
      <a href="">Bumper Stickers</a>
    </div>
    <div id="botR">
      <img src="images/upgrades/hub-cap.jpg" alt="Hub caps" />
      <a href="">Hub Caps</a>
    </div>
  </section>
  <section class="rightSide">
    <h3>DMC Delorean Reviews</h3>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>
</div>
